@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@1,100&display=swap');



body{
  background-color: #67595E;
}

h1{
  font-family: Roboto;

  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px auto;

  color: #E8B4B8;
  text-decoration: underline;
}

.userContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;

  width: 100%;

  margin: 20px auto;
  padding-left: -10px;
}

.cardBody{
  border: 2px solid black;
  border-radius: 10px;

  margin: 20px auto;
  width: 350px;

  background-color: #A49393;
}

.cardHeader{
  text-align: center;
  border-bottom: 2px solid black;
  display: block;
  padding: 0;
}


.cardTitle, .cardHeader{
  font-family: Roboto;
}

.cardImage{
  padding-left: 10px;
}


.cardImage img{
  width: 120px;
  border: 2px solid black;
}

.userInfo{
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
}

.userText{
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.cardText{
  font-family: Roboto Condensed;
  word-break: break-all;
}

.bold{
  font-family: Roboto Condensed;
  font-weight: bolder;
}

