@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@1,100&display=swap');





body{
  background-color: darksalmon;
}

h1{
  font-family: Roboto;
  text-align: center;
}

.userContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 500px;

  margin: 20px auto;
}

.cardBody{
  border: 1px solid black;
  border-radius: 10px;
  margin: 20px auto;
  width: 500px;
}

.cardHeader{
  text-align: center;
  border-bottom: 2px solid black;
}

.cardTitle, .cardHeader{
  font-family: Roboto;
}



.cardImage img{
  width: 150px;
  border: 1px solid black;
}

.userInfo{
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
}

.userText{
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.cardText{
  font-family: Roboto Condensed;
}

.bold{
  font-family: Roboto Condensed;
  font-weight: bolder;
}